body {
	background: black;
	font-family: "Handlee", cursive;
}
/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-body {
	display: flex;
	overflow: hidden;
	height: 60%;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
	height: 70%;
}
.body-left p {
	font-size: 18px;
}
input {
	font-family: "Handlee", cursive;
	border: none;
	border-bottom: 1px gray solid;
	margin-bottom: 10px;
}
.postcard-footer {
	text-align: center;
	padding: 10px;
}
button {
	font-family: "Handlee", cursive;
	background-color: darkgray;
	margin-bottom: 20px;
}
